@using TMC.Web.Shared
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Local Cords - @ViewBag.Title</title>


        @Styles.Render("~/Content/css")
        @Styles.Render("~/bundles/css")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/site")

    @RenderSection("stylesheet", required: false)
    @RenderSection("scripts", required: false)    
    <script type="text/javascript">
        ErrorRedirectUrl = '@Url.SmartAction("Index", "Error")';

    </script>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                <div id="logo">
                    <a href="@Url.Action("index", "Home")">
                        <img src="~/img/lc_logo.jpg" class="logo img-responsive " style="padding: 5px">
                    </a>
                    @Html.ActionLink("Local Cord", "Index", new { controller = "Home" }, new { @class = "navbar-brand" })


                </div>
                <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
                
                <div>
                    <div class="glyphicon-floppy-disk floatL">
                        @Html.ActionLink("Free Listing", "AddEditListing", "Vendor")
                    </div>

                    <div class="glyphicon-floppy-disk floatL">
                        @Html.ActionLink("Post a Requirement", "AddEditRequirement", "User")
                    </div>
                </div>
                
            </div>
            
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                @Html.Partial("_LoginPartial")
                <ul class="nav navbar-nav navbar-right">
                    <li id="about">
                        @Html.ActionLink("About", "Index", "About")
                    </li> 
                    <li id="contact">
                        @Html.ActionLink("Contact", "Index", "Contact")
                    </li>
                    <li id="couponBoard">
                        @Html.ActionLink("Local Board","Index","CouponBoard")
                    </li>
                    <li id="portfolio" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li id="1columnportfolio">
                                @Html.ActionLink("1 Column Portfolio", "OneColumn", "Portfolio")
                            </li>
                            <li id="2columnportfolio">
                                @Html.ActionLink("2 Column Portfolio", "TwoColumn", "Portfolio")
                            </li>
                            <li id="3columnportfolio">
                                @Html.ActionLink("3 Column Portfolio", "ThreeColumn", "Portfolio")
                            </li>
                            <li id="4columnportfolio">
                                @Html.ActionLink("4 Column Portfolio", "FourColumn", "Portfolio")
                            </li>
                            <li id="singleportfolioitem">
                                @Html.ActionLink("Single Portfolio Item", "SingleItem", "Portfolio")
                            </li>
                        </ul>
                    </li>
                    <li id="blog" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li id="bloghome2">
                                @Html.ActionLink("My Coupon Board", "Index", "CouponBoard")
                            </li> 
                        </ul>
                    </li>
                    <li id="other" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">More.. <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li id="fullwidthpage">
                                @Html.ActionLink("Full Width Page", "FullWidth", "Other")
                            </li>
                            <li id="sidebarpage">
                                @Html.ActionLink("Sidebar Page", "Sidebar", "Other")
                            </li>
                            <li id="faq">
                                @Html.ActionLink("FAQ", "Faq", "Other")
                            </li>
                            <li id="404">
                                @Html.ActionLink("404", "FourOhFour", "Other")
                            </li> 
                            <li id="googleMaps">
                                @Html.ActionLink("Google Map", "GoogleMaps", "Other")
                            </li>
                            
                        </ul>
                    </li>
                </ul>                
               
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    @RenderBody()

    <div class="container">

    </div>
    <!-- /.container -->
    <div class="cd-footer2">
        <div class="top-footer">
            <div class="container horizontal-line" style="padding-bottom: 15px;">
                <div class="row">
                    <div class="col-8 footer-section">
                        <a class="" href="http://www.localcord.com/"><img class="footer-logo " src="~/img/LC_logo_sm.jpg"></a><br>
                        <div class="col-22" style="padding-left: 0 ;padding-top : 25px">LocalCord, India’s first service platform website, which helps you connect to the service experts near your locality which we call your cord. Our service experts are connected to the cord near you and constantly monitoring any 
                        requirements and needs nbeing posted on the local board!</div>
                    </div>

                    <div class="col-8 footer-section">
                        <div class="row">
                            <div class="heading-text">Quick Links</div> <br>
                            <div class="col-12" style="padding-left: 0px; padding-right: 10px; float:left">


                                <div class="list">
                                    <ul>
                                        <li><a class="" href="http://www.localcords.com">Home</a></li>
                                        <li><a class="" href="http://www.localcord.com/stores">Stores</a></li>
                                        <li><a class="" href="http://www.localcord.com/contact">Contact</a></li>
                                        <li><a class="" href="http://careers.localcord.com/" target="_blank">Careers</a></li>
                                        <li><a class="" href="http://www.localcord.com/blog" target="_blank">Blog</a></li>
                                        <li><a class="" href="http://www.localcord.com/merchant-stores">Merchants</a></li>
                                        <li><a class="" href="http://www.localcord.com/sitemap">Sitemap</a></li>
                                    </ul>
                                </div>

                            </div>
                            <div class="col-12">
                                <div class="list">
                                    <ul>
                                        <li><a class="" href="http://www.localcord.com/press">Press</a></li> 
                                        <li><a class="" href="http://www.localcord.com/privacy-policy">Privacy Policy &amp; Opt Out</a></li>
                                        <li><a class="" href="http://coupondunia.in/merchants">List your Business on LC</a></li>
                                        <li><a class="" href="http://coupondunia.in/restaurants">List your Restaurant on LC</a></li>
                                        <li><a class="" href="http://www.localcord.com/terms">Terms of Service</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-8 footer-section">
                        <div class="heading-text">Subscribe for more updates</div> <br>
                        <form method="post" action="http://www.localcord.com/add-email-subscription" name="weeklynews" class="newsletterSubscribe" data-subscribe-type="newsletter" data-type="6">
                            <div class="input-group" style="display: flex">
                                <input type="text" name="Email" class="form-control" placeholder="enter your email address...">
                                <span class="input-group-btn">
                                    <button class="btn btn-success" type="button">
                                        <span>GO</span>
                                        <div id="loader-btn" style="display: none;">
                                            <div class="bar"></div>
                                            <div class="bar"></div>
                                            <div class="bar"></div>
                                            <div class="bar"></div>
                                            <div class="bar"></div>
                                        </div>
                                    </button>
                                </span>
                            </div>
                            <div class="nwl-response alert alert-danger"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    <!--   <div class="middle-footer">
            <div class="container horizontal-line">
                <div class="row">
                    <div class="col-6 footer-section text-center">
                        <img src="http://www.localcord.com/theme/Elegance/img/cdstats-ico1.png">
                        <p class="text-center big-text">1680858</p> <br>
                        <p class="text-center small-detail-text">Coupons used last month</p>
                    </div>
                    <div class="col-6 footer-section text-center">
                        <img src="http://www.localcord.com/theme/Elegance/img/cdstats-ico2.png">
                        <p class="text-center big-text">1876</p> <br>
                        <p class="text-center small-detail-text">online stores</p>
                    </div>
                    <div class="col-6 footer-section text-center">
                        <img src="http://www.localcord.com/theme/Elegance/img/cdstats-ico3.png">
                        <p class="text-center big-text">4044</p> <br>
                        <p class="text-center small-detail-text">Restaurant Outlets</p>
                    </div>
                    <div class="col-6 footer-section text-center">
                        <img src="http://www.localcord.com/theme/Elegance/img/cdstats-ico4.png">
                        <p class="text-center big-text">6663919</p> <br>
                        <p class="text-center small-detail-text">Subscribers</p>
                    </div>
                </div>
            </div>
        </div>-->

        <div class="bottom-footer">
            <div class="container horizontal-line">
                <div class="row">
                    <div class="col-md-6" style="padding-top: 10px">
                        <div class="col-10" style="padding-left: 0"><span></span></div>
                        <div class="copyright">© 2015 LocalCord.com All Rights Reserved.</div>
                    </div>
                    <div class="col-md-6" style="padding: 10px 0 10px 0;">
                        <div class="text-right" style="margin: 0px">
                            <a href="https://www.facebook.com/LocalCord/" target="_blank" rel="nofollow" style="padding-right: 10px;"><img src="/img/fb_ico.png" height="30"></a>
                            <a href="https://twitter.com/LocalCord/" target="_blank" rel="nofollow" style="padding-right: 10px;"><img src="/img/twitter_ico.png" height="30"></a>
                            <a href="https://plus.google.com/+LocalCord/posts" target="_blank" rel="nofollow"><img src="/img/gplus_ico.png" height="30"></a>
                            <a href="https://youtube.com/LocalCord" target="_blank" rel="nofollow"><img src="/img/youtube_ico.png" height="30"></a>
                        </div>
                    </div>


                </div>
            </div>
        </div>

  @*  <div class="international-footer">
        <div class="container ">
            <div class="row">

                <div class="horizontal-list text-center">
                    <ul>
                        <li class="bold-text">International Sites : </li>
                        <li><a href="http://www.localcord.co.us/" target="_blank">Local cord USA</a></li>
                        <li><a href="http://www.localcord.com.ca/" target="_blank">LocalCord (Canada)</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>*@
    </div>
</body>
</html>