@using TMC.Web.Shared.ViewModels
@model TMC.Web.Shared.ViewModels.UserViewModel
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                User landing page
                <small>Place your free listing here!</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">About</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.UserId)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.UserId)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.UserTypeId)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.UserTypeId)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>
                
                <dt>
                    @Html.DisplayNameFor(model => model.AddressLine1)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.AddressLine1)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.AddressLine2)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.AddressLine2)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.AreaId)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.AreaId)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.PinCode)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PinCode)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.CityId)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.CityId)
                </dd>
            </dl>
            <p>
                @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
        </div>
        <div class="col-lg-6">
            <div class="heading-text">Needs/Requirements</div> <br>
            <div class="col-12" style="padding-left: 0px; padding-right: 10px;">
                <div class="list">
                    <ul>
                      
                            <li>
                                @Html.ActionLink("Requirement 1 ", "AddEditRequirement", "User", new { @id = 1 }, null)
                            </li>

                        <li>@Html.ActionLink("Requirement 2 ", "AddEditRequirement", "User", new { @id = 2 }, null)</li>

                        <li>@Html.ActionLink("Post a new requirement", "AddEditRequirement", "User")</li>
                    </ul>
                </div>
            </div><br>
            <div class="heading-text">Adds/Listings</div> <br>
            <div class="col-12">
                <div class="list">
                    <ul>
                        
                        @foreach (ListingViewModel listingViewModel in @Model.Listings)
                        {
                            <li>
                                @Html.ActionLink(listingViewModel.BusinessName, "AddEditListing", "Vendor", new { @id = listingViewModel.ListingId }, null)
                            </li>
                        }
                         

                        <li>@Html.ActionLink("Add New Listing", "AddEditListing", "Vendor")</li>
                    </ul>
                </div>
            </div>


        </div>
    </div>
</div>
