@using TMC.Shared
@using TMC.Web.Shared.ViewModels
@model HomeViewModel
@{
    ViewBag.Title = "Home";
}

@section scripts{
    @Scripts.Render("~/Scripts/tmc.home.index.js")

    <script type="text/javascript">

        $(function () {
            homeIndex = new HomeIndex();
            homeIndex.cityNameControlId = '#' +  '@Model.CitySaytHome.SelectedCityNameFieldId';
            homeIndex.cityIdControlId  = '#' + '@Model.CitySaytHome.SelectedCityIdFieldId';
            homeIndex.placeIdControlId = '#' + '@Model.PlaceSaytHome.SelectedPlaceIdFieldId';
            homeIndex.categoryIdControlId = '#' + '@Model.CategorySaytHome.SelectedCategoryIdFieldId';
            homeIndex.categoryNameControlId = '#' + '@Model.CategorySaytHome.SelectedCategoryNameFieldId';
            homeIndex.initialize();
        });

    </script>
}
<style>
    .flexslider {
        margin: 0;
    }
   
    .ui-autocomplete-loading {
        background: white url("/img/autocomplete/ui-anim_basic_16x16.gif") right center no-repeat;
    }
  /*.tmc-auto { width: 25em; }*/
    .ui-autocomplete {
        max-height: 100px;
        overflow-y: auto;
  
        overflow-x: hidden;
      }
</style>

<input type="hidden" id="hdnCategoryId" />
<input type="hidden" id="hdnCategoryName" />
<input type="hidden" id="hdnPlaceId" />


    <div class="row navbar-fixed-top stalk-search" id="divHomeSearchControl">
    <div class="container homeSearchControl">
        <div class="col-sm-12">          
            <div class="col-sm-4 form-group" id="cities">              
                @Html.Partial("_CitySayt", Model.CitySaytHome)
            </div>
            <div class="col-sm-3 display-none" id="divPlaces">
                @Html.Partial("_PlaceSayt", Model.PlaceSaytHome)
            </div>
            <div class="col-sm-3 form-group">
                @Html.Partial("_CategorySayt", Model.CategorySaytHome)
            </div>
            <div class="col-sm-1 form-group">
                <button id="btnSearchMain" class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
    </div>
</div>

    @*<div class="row">
            <div class="searchPopup col-sm-12">

                <div class="col-sm-3 topFields" id="cities">

                    @Html.Partial("_CitySayt", Model.CitySaytHome)
                </div>
                <div class="col-sm-4 topFields display-none" id="divPlaces">
                   @Html.Partial("_PlaceSayt", Model.PlaceSaytHome)
                </div>
                <div class="col-sm-4 topFields">
                    @Html.Partial("_CategorySayt", Model.CategorySaytHome)
                </div>
                <div class="col-sm-1 topFields">
                    <button id="btnSearchMain" class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
        </div>*@
   
    <!-- Categories Section Start-->
    
        <div class="container category-home-container">
            <div class="row  trending-deals-header">
                <div class="col-sm-12">
                    <h3 class="text-center">Trending Deals</h3>
                </div>
            </div>
            <div class="row">
                
                <!-- New Slider Start-->
                <div class="col-sm-12 flexslider padding2">

                    <ul class="slides">
                        <li>
                            <div class="row">
                                <div class="col-sm-12">
                                    <img src="/img/banner.jpg" alt="" style="max-height:400px;">
                                </div>
                                @*<div class="col-sm-4">
                            <img class="img-responsive" src="/img/placeholder1.jpg">
                        </div>*@
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-sm-12">
                                    <img src="/img/banner1.jpg" alt="" style="max-height:400px;">
                                </div>
                                @*<div class="col-sm-4">
                            <img class="img-responsive" src="/img/placeholder2.jpg">
                        </div>*@
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="col-sm-12">
                                    <img src="/img/banner2.jpg" alt="" style="max-height:400px;">
                                </div>
                                @*<div class="col-sm-4">
                            <img class="img-responsive" src="/img/placeholder3.jpg">
                        </div>*@
                            </div>
                        </li>
                    </ul>

                </div>

                <!-- New Slider END-->
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="text-center category_heading">What Are You Looking For?</h3>
                    <hr>
                </div>
            </div>
                <div class="row">                  

                    @foreach (var category in Model.TopCategories)
                    {
                        <div class="col-sm-2 padding2">
                            <a href="" class="home-category-list">
                                <img class="img-responsive" src="/img/restaurants.jpg" />
                                <div class="home-category-text">
                                    <span class="home-category-title">@category.ShortName </span>

                                </div>
                            </a>
                        </div>
                    }
                    <!-- /.row -->
                </div>
            </div>
    <!-- /.container -->

<!-- Categories Section END-->
@*<div class="section">

        <div class="container">

            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <h3><i class="fa fa-check-circle"></i> Bootstrap 3 Built</h3>
                    <p>The 'Modern Business' website template by <a href="http://startbootstrap.com">Start Bootstrap</a> is built with <a href="http://getbootstrap.com">Bootstrap 3</a>. Make sure you're up to date with latest Bootstrap documentation!</p>
                </div>
                <div class="col-lg-4 col-md-4">
                    <h3><i class="fa fa-pencil"></i> Ready to Style &amp; Edit</h3>
                    <p>You're ready to go with this pre-built page structure, now all you need to do is add your own custom stylings! You can see some free themes over at <a href="http://bootswatch.com">Bootswatch</a>, or come up with your own using <a href="http://getbootstrap.com/customize/">the Bootstrap customizer</a>!</p>
                </div>
                <div class="col-lg-4 col-md-4">
                    <h3><i class="fa fa-folder-open"></i> Many Page Options</h3>
                    <p>This template features many common pages that you might see on a business website. Pages include: about, contact, portfolio variations, blog, pricing, FAQ, 404, services, and general multi-purpose pages.</p>
                </div>
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </div>*@
<!-- /.section -->
<div class="section-colored">
    <div class="container">
        <div class="row  text-center">
            <div class="col-sm-12">
                <h2>How LocalCord Works</h2>
                <p>Your search will end here</p>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h2 class="tmc-blue">Get your job done. Fast and easy.</h2>
                <ul class="ul-no-bullets">
                    <li class="li-red margin-bottom-10"><span class="glyphicon glyphicon-pencil font-30"></span><span class="font-20 margin-left-10">  Tell us about the local service you are looking for</span></li>
                    <li class="li-red margin-bottom-10"><span class="glyphicon glyphicon-earphone font-30"></span><span class="font-20 margin-left-10">  Get free quotes from right businesses</span></li>
                    <li class="li-red margin-bottom-10"><span class="glyphicon glyphicon-ok font-30"></span><span class="font-20 margin-left-10">  Choose the business that best fits your need. Done!</span></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <img class="img-responsive" src="http://placehold.it/700x450/ffffff/cccccc">
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /.section-colored -->
<!-- /.section -->


<div class="section">
    <div class="container">
        <div class="row  text-center">
            <div class="col-sm-12">
                <h2>Be a Professional</h2>
                <p>Connect with consumers</p>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <img class="img-responsive" src="http://placehold.it/700x450">
            </div>
            <div class="col-sm-6">
                <h2 class="tmc-blue">Get your job done. Fast and easy.</h2>
                <ul class="ul-no-bullets">
                    <li class="li-red margin-bottom-10"><span class="glyphicon glyphicon-pencil font-30"></span><span class="font-20 margin-left-10">  Create Free Profile</span></li>
                    <li class="li-red margin-bottom-10"><span class="glyphicon glyphicon-earphone font-30"></span><span class="font-20 margin-left-10">  Search Prospective Customers in Your Location</span></li>
                    <li class="li-red margin-bottom-10"><span class="glyphicon glyphicon-ok font-30"></span><span class="font-20 margin-left-10">  Enrich your Profile & Reach out to more Customers</span></li>
                </ul>
                <a class="btn btn-lg btn-primary pull-right" href="">Be a Professional</a>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
<!-- /.section -->
